.nav-c{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 2.25rem;
    background-color:hsl(0, 0%, 26%);
    
}

.nav-SubC{
    width: 75%;
    height: 2.25rem;
    display: flex;
    justify-content: space-between;
    
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 42%;
    height: inherit;
   
}
.nav-left span{
    padding: 5px 0 10px;
    line-height: 22px;
    font-weight: 300;
    color: #ffffff;
    
}

.imgTel {
    height: 1.5rem;
    width: 1.5rem;
}
.imgCar {
    color: white;
    height: 2rem;
    width: 2rem;
}
.nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24%;
    height: inherit;

    
}
.nav-right a{
    color: white;
    text-decoration: none;
    color: white;
    font-weight: 300;
    padding: 8px 10px 11px 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    line-height: 18px;
    
}
.nBlog{

}
.nContact{

}
.nConnect{

}